.monthly {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  background-color: rgba(217, 205, 151, 1);
}

.body {
  padding-top: 30px;
  padding-bottom: 50px;
}

.react-calendar {
  margin-right: 150px;
}

.brainDump {
  padding-right: 150px;
}

form {
  float: left;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 40%;
}

.react-calendar__navigation {
  font-size: 24px;
  margin: auto;
  width: 100%;
  text-align: left;
}

.react-calendar__month-view__weekdays__weekday {
  color: rgba(106, 135, 127, 1);
  font-weight: 400;
  font-style: normal;
}

.react-calendar__tile--active {
  background: rgba(208, 138, 120, 1);
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgba(208, 138, 120, 1);
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 18px;
  color: rgba(106, 135, 127, 1);
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .react-calendar,
  .form {
    width: 100%;
  }
}